.servers-settings-channels-list {
  display: flex;
  // height: 100%;
  flex-direction: column;
  width: 250px;
  background: #2f3136;
  position: relative;
}

.dm-container {
  display: flex;
  // height: 100%;
  flex-direction: column;
  width: 250px;
  background: #2f3136;
  position: relative;
}
.dm-header {
  height: 50px;
  justify-content: space-between;
  background: #25272b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.server-settings-menu {
  height: 50px;
  justify-content: space-between;
  background: #25272b;
}

.server-setting-title {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.server-setting-dropdown-true {
  margin-top: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// channels portion

.channels-container {
  height: 100%
}

.channel-footer {
  height: 52px;
  background: #28292e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}